body {
  background-color: #034;
}

.header {
  height: 56px;
  color: #fff;
  fill: #fff;
  align-items: center;

  .logo {
    font-size: 56px;
  }

  .title {
    font-size: 18px;
  }
}

.sidebar {
  color: #fff;
  width: 200px;

  .section {
    background-color: #023;
    margin: 0;
    padding: 8px;
    height: 32px;
  }
}

.main {
  height: calc(100vh - 56px);
  background-color: #fff;
}