.pui-react-starter {
  padding: 20px;
  max-width: 960px;
  margin: 20px auto;
}

.grid.btn-group {
  justify-content: space-between;
}

h3 {
  margin-bottom: 16px !important;
}

.user-list {
  li {
    list-style: none;

    .icon {
      margin-right: 8px;
    }
  }
}